[submodule "ctaylo21/jarvis"]
	path = ctaylo21/jarvis
	url = git@github.com:ctaylo21/jarvis.git
[submodule "junegunn/dotfiles"]
	path = junegunn/dotfiles
	url = git@github.com:junegunn/dotfiles.git
[submodule "justinmk/config"]
	path = justinmk/config
	url = git@github.com:justinmk/config.git
[submodule "tpope/tpope"]
	path = tpope/tpope
	url = git@github.com:tpope/tpope.git
[submodule "wincent/wincent"]
	path = wincent/wincent
	url = git@github.com:wincent/wincent.git
